/*GLOBAL VALUES:
max-width:1366px;
color: #0078FF; //color primary light (for links)
color: #05518B; //color primary
color: #1B6095; //color primary 2 (for submission buttons)
color: #A9306F; OR color: rgba(169, 48, 111, 1); //color secondary
color: #FF7417; //color tertiary
color: #666C77; OR color: rgba(102,108,119,1); //lighter gray
color: #F1F1F1; OR color: rgba(241,241,241,1); //off-white
color: #383F49; OR color:rgba(56, 63, 73, 1); //dark grey for nav and footer
color: #777C86; //grey (for greyed out rating)
*/
/* GLOBAL */
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
html{
    width:100%;
    height:100%;
}
html{
    font-size: 16px;
}
body{
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    background-color:white;
    position:relative;
    overflow:auto;
}
main{
    min-height:95vh;
}
h1,h2,h3,h4,h5,h6, nav a, .btn, nav .nav-dropdown{
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color: #05518B;
    font-weight:400;
}
h1{
    font-size:3rem;
    letter-spacing: 0.08em;
}
h2{
    font-size:2rem;
}
h3{
    font-size:1.5rem;
}
h4{
    font-size:1rem;
}
p{
    text-align:left;
    padding: 1.5rem 1.25rem 0rem 1.25rem;
}
p:last-of-type{
    padding-bottom: 1.5rem;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
    color: #0078FF;
}
nav a, footer a, nav h1, nav h2, nav h3, nav h4, nav h5, nav h6{
    color:inherit;
}
main{
    overflow:hidden;
}
footer{
    background-color: #383F49;
    color:white;
    z-index:900;
    position:relative;
    font-weight:400;
    font-size: 0.75rem;
    padding-top: 2.5rem;
    padding-bottom:3rem;
}

/*GENERAL*/
.container{
    max-width:1366px;
    margin:0 auto;
    /*height:100%;*/
    height:auto;
    position:relative;
    text-align:center;
}
header .container{
    text-align:left;
}
.container--content{
    position:relative;
    width:85%;
    margin:0 auto;
}
.row{
    position:relative;
    width:100%;
    text-align:center;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    flex-wrap:wrap;
}
form .row{
    padding-bottom:3rem;
}
.row-item{
    margin:1rem;
}
.section-box, .container-box{
    background-color: #F1F1F1;
    border-radius:4px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.section-box{
    /* height:32.75rem; */
    /* max-height:85%; */
    position:relative;
    padding-bottom:5.875rem;
    margin-top: 4.375rem;
    margin-bottom:4.375rem;
}
.section-box > .section-title{
    padding-bottom:3.4rem;
    
}
.section-title--wrapper{
    position:relative;
    text-align:center;
    display:inline-block;
    margin:0 auto;
}
.dotted-underline{
    display:inline-block;
    width:75%;
    margin-top: 0.5rem;
    border-bottom: dotted #666C77 0.43rem;
}
.container-box{
    /* height: 75.15%;
    width: 79.75%; */
    padding: 5rem 1rem;
    position:relative;
}
.card{
    position:relative;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0,0,0,.2);
}
.game-card{
    width:9rem;
    border:solid black 6px;
    height: 13.43rem;
    margin-bottom:1.06rem;
    margin-left: auto;
    margin-right:auto;
    display:block;
}
.btn{
    text-align:center;
    height: auto;
    padding: 0.625rem 1.25rem;
    border-style:none;
    border-radius:7px;
    color:#ffffff;
    background-color: #383F49;
}
.btn:hover{
    cursor:pointer;
}
.btn:focus, .btn:hover{
    transform:translatey(-5%);
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,.15);
}
.btn:active{
    transform:translatey(3%);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,.25);
}
.btn--viewinfo{
    background-color:rgba(169, 48, 111, 1);
}
.btn--buynow, .btn--trial{
    background-color: #FF7417;
}
.btn--submit{
    background-color: #1B6095;
    padding: 0.67rem 3rem;
}
.btn--download{
	background-color: #1B6095;
}
.btn__alt{
	background-color: #ffffff;
	border:solid #383F49 3px;
	color: #383F49;
    padding: calc(0.625rem - 3px) calc(1.25rem - 3px);
}
.btn__alt:hover{
	background-color: #383F49;
	color: #ffffff;
}
.btn__alt--play{
	color: #1B6095;
	border-color: rgba(169, 48, 111, 1);
}
.btn__alt--play:hover{
	background-color: rgba(169, 48, 111, 1);
	color: #ffffff;
}
section > .container{
    padding:4.69rem 0;
}
section.first-section{
	padding-top:2.35rem;
}
.section-title--wrapper{
    margin-bottom:3.875rem;
}
.icon{
    color: #A9306F;
    font-size:1.2rem;
    font-style:inherit;
}
.icon__inactive{
    color: #777C86;
}
.icon--check{
    padding-right: 1.25rem;
}

/*NAVIGATION*/
.nav--checkbox{
	display:none;
}
nav{
    width:100%;
    height:4.375rem; /* 70px/16px = 4.375rem*/
    position: relative;
    z-index:999;
    color:white;
    font-size:1rem;
    background-color:rgba(56, 63, 73, 0.95);
}
.nav__sticky{
    position:fixed;
    top:0;
    left:0;
}
.nav{
    max-width:1366px;
    position:absolute;
    width:100%;
    height:auto;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:0 0.2rem;

}
.nav .logo{
    float:left;
}
.nav ul{
    float:right;
}
.nav ul li{
    display:inline-block;
    text-align:center;
    text-transform:uppercase;
    padding-left:1.25rem;
}
.nav-dropdown{
    position:relative;
}
.nav-dropdown:hover{
    cursor:default;
}
.nav-dropdown:hover .nav-dropdown--contents{
    display:block;
}
ul.nav-dropdown--contents{
    background-color:rgba(56, 63, 73, 0.95);
    position:absolute;
    width:100%;
    top:100%;
    left:0;
    padding-bottom:0.5rem;
    display:none;
}

ul.nav-dropdown--contents li{
    text-transform:capitalize;
    width:100%;
    padding:0.5rem 0;
}
.left-nav{
    width:17%;
    max-width:14.5rem;
    z-index: 900;
    position:fixed;
    height: calc(100% - 4.375rem);
    padding-top:8%;
    top: 4.375rem;/*height of nav = 70px/16px = 4.375rem*/
    overflow:auto;
}
.left-nav--title{
    text-transform:uppercase;
    letter-spacing:0.05em;
}
.left-nav ul{
    margin-top:4.5rem;
}
.left-nav ul li:not(:last-child){
    margin-bottom:2.37rem;
}
.left-nav--active{
    background-color:#A9306F;
    padding:0.75em 0;
}

/*HEADER*/
header{
background-color:grey;
height: 91vh; /*viewport height = 768; header height = 631px+nav-height; 701/768 = 91.27vh*/
position:relative;
min-height: 28rem;
}
header .container{
    height:100%;
}
#homepage-header{
    height:auto;
    position:relative;
    top:37%;
    padding-left:13%;
}
#call-to-action{
    display:block;
    position:relative;
    margin-top:3rem;
    margin-left: 2rem;
}
#main-title, #main-subtitle{
    font-weight:200;
    text-shadow:2px 0px 4px #000000;
    color:#ffffff;
}
/*text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;*/
#main-subtitle{
    letter-spacing: 0.048em;
}

/*TOP GAMES*/
#top-selling{
    background-color: white;
}
#top-selling .container{
    text-align:left;
    overflow:auto;
}
#top-selling .section-title--wrapper{
    text-align:left;
}
#top-selling .dotted-underline{
    margin-left:1rem;
}
#more{
    float:right;
    margin-right:10.54%;
    margin-top: 3.5rem;
    text-align:right;
}
#more h4{
    font-weight:700;
}
#more .dotted-underline{  
    width:95%;
    margin-left:1.25rem;
}
#more:hover h4, #more:focus h4{
    color: #0078FF;
}    

/*MEMBERSHIP*/
#membership{
    background-color:grey;
}
.card-membership{
    width:22rem;
    height: 31rem;
    background-color:white;
}
.card-membership--price{
    height:11rem;
    background-color:#05518B;
    position:absolute;
    bottom:0;
    right:0;
    left:0;
}
.membership-price{
    padding:1.6rem 0;
    color:#ffffff;
    font-size:2rem;
}
.membership-price__small{
    font-size:1rem;
}
.card-membership--title{
    padding-top: 2.5rem;
    padding-bottom: 2.1rem;
}
.card-membership--description{
    display:inline-block;
}
ul.card-membership--description li{
    text-align:left;
}
ul.card-membership--description li:not(:last-child){
    text-align:left;
    margin-bottom:1rem;
}


/*FAQ*/
#faq .section-box{
    background-color: #F1F1F1;
}
#faq-list{
    text-align:left;
}
#faq-list li:nth-of-type(2n){
    margin-bottom:1.5rem;
}
#faq-list li:last-of-type{
    margin-bottom:0rem;
}
.faq-i{
    font-weight:700;
    color:#A9306F;
    padding-right: 0.375rem;
}

/*GAMESTORE*/
.dashboard{
    padding: 4.375rem 0;
    position:relative;
    min-height:90%;
}
.display{
    width:79%; /*100% - left nav's width of 17%*/
    background-color:white;
    display:inline-block;
    margin-left: 18%;
    position:relative;
}
.display .row-item{
	padding-bottom:1.2rem;
}
.container-box--img{
    position:relative;
}
.container-box--img img{
    width:9rem;
    height:9rem;
    padding-bottom:1.5rem;
}
.container-box--title{
    text-transform:uppercase;
}
.content-box--contents p{
    font-style:italic;
}

/*REGISTER*/
.input-container{
    text-align:left;
    width:22rem;
    margin:0 auto;
}
.input-container:not(:last-child){
    margin-bottom:2.25rem;
}
.input-container input{
    background-color:#ffffff;
    display:block;
    width:100%;
    border:solid 2px #444C59;
    padding:0.75rem 0.5rem 0.75rem 0.5rem;
    border-radius:7px;
    font-size:0.9rem;
}
.input-container input::placeholder{
    font-style:italic;
    font-size:0.875rem;
}
.input-container label{
    display:block;
    font-weight:700;
    padding-left:0.5rem;
    padding-bottom:0.2rem;
}
.signin-register{
    margin-top:2.25rem;
    display:inline-block;
    width:17rem;
    padding-bottom:1rem;
    border-bottom:solid #95989A 1.15px;
}

/*FOOTER*/
.footer-list{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    text-align: left;
}
.footer-list > li:first-child{
    padding-right:1.25rem;
}
footer .container{
    height:auto;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {
/* start of medium tablet styles */
html{
	font-size: 14px;
}
/*NAVIGATION*/
nav{
    height:auto;   
}
.nav--checkbox{
	display:none;
}
.nav--checkbox:checked ~ .nav--button .nav--icon{
	background-color:transparent;
}
.nav--checkbox:checked ~ .nav--button .nav--icon::before{
	transform: rotate(-135deg);
	background-color:red;
}
.nav--checkbox:checked ~ .nav--button .nav--icon::after{
	transform: rotate(135deg);
	background-color:red;
}
.nav--checkbox:checked ~ .nav{
	overflow:auto;
	height:100vh;
}
.nav--checkbox:checked ~ .nav ul{
	height: auto;
}

.nav--button{
	padding-top: 1.5rem;
	padding-right:0.75rem;	
	position:relative;
	width:auto;
	height:4.375rem;
	float:right;
	overflow:show;
	cursor:pointer;
}
.nav--icon{
	position:relative;
	width:2.35rem;
	margin-top: 0.5rem;
}
.nav--icon::before, .nav--icon::after{
	content:" ";
	position:absolute;	
	width:100%;
	left:0;
}
.nav--icon, .nav--icon::before, .nav--icon::after{
	height: 0.25rem;	
	display:inline-block;
	background-color:#ffffff;
	border-radius:30rem;
	transition:all 0.4s;
	transform-origin: 50% 100%;
}
.nav--icon::before{
	top:-275%;
	transform-origin: 52.5% 150%;
}
.nav--icon::after{
	bottom:-275%;
	transform-origin: 55% -150%;
}
.nav--button:hover .nav--icon{
	margin-top: 0.35rem;
}
.nav{
	position:relative;
    width:auto;
    height:auto;
    top:0%;
    left:0%;
    transform:translate(0%,0%);
    overflow:hidden;
    transition:all 0.4s;
    
}
.nav .logo{
	height:4.375rem;
	line-height:4.375rem;
}
.nav ul{
	clear:both;
    margin:0 auto;
    height:0;
    width:100%;
    transition:all 0.4s;
}
.nav ul li{
    display:block;
    padding:1rem;
}
ul.nav-dropdown--contents{
    background-color:transparent;
    position:relative;
    height:auto;
}

ul.nav-dropdown--contents li{
    padding:0.5rem 0;
}
