/*GLOBAL VALUES:
max-width:1366px;
color: #0078FF; //color primary light (for links)
color: #05518B; //color primary
color: #A9306F; OR color: rgba(169, 48, 111, 1); //color secondary
color: #666C77; OR color: rgba(102,108,119,1); //lighter gray
color: #F1F1F1; OR color: rgba(241,241,241,1); //off-white
color: #383F49; OR color:rgba(56, 63, 73, 1); //dark grey for nav and footer
color: #777C86; //grey (for greyed out rating)
*/
/* GLOBAL */
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
html, body{
    width:100%;
    height:100%;
}
html{
    font-size: 16px;
}
body{
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    background-color: #F1F1F1;
}
h1,h2,h3,h4,h5,h6, nav a, .btn{
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color: #05518B; 
}
p{
    text-align:left;
    line-height:1.5;
    padding: 1.5rem 1rem 0rem 1rem;
}
p:last-of-type{
    padding: 1.5rem 1rem 1.5rem 1rem;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
    color: #0078FF;
}
nav a, footer a, nav h1, nav h2, nav h3, nav h4, nav h5, nav h6{
    color:inherit;
}
footer{
    z-index:1000;
    position:relative;
}

/*GENERAL*/
.container{
    max-width:1366px;
    margin:0 auto;
    height:100%;
    position:relative;
    text-align:center;
}
header .container{
    text-align:left;
}
.container--content{
    position:relative;
    width:85%;
    margin:0 auto;
}
.row{
    position:relative;
    width:100%;
    margin:0 auto;
    text-align:center;
}
.col-1-of-2, .col-1-of-3, .col-1-of-4, .col-1-of-5{
    display:inline-block;
}
.col-1-of-5:not(:last-child){
    margin-right: 6.22%;
}
.col-1-of-4:not(:last-child){
    margin-right: 11.13%;
}
.col-1-of-2:not(:last-child){
    margin-right: 16.14%;
}
.section-box, .container-box{
    background-color: #F1F1F1;
    border-radius:4px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.section-box{
    height:32.75rem;
    position:relative;
    top:30%;
    transform:translateY(-30%);
}
.section-title--wrapper{
    position:relative;
    text-align:center;
    display:inline-block;
    margin:0 auto;
}
.dotted-underline{
    display:inline-block;
    width:75%;
    margin-top: 0.5rem;
    border-bottom: dotted #666C77 0.43rem;
}
.container-box{
    height: 75.15%;
    width: 79.75%;
    position:absolute;
    top:25%;
    left:50%;
    transform:translate(-50%,-25%);
}
.game-card{
    width:9rem;
    border:solid black 6px;
    height: 13.43rem;
    margin-bottom:1.06rem;
}
.btn{
    text-align:center;
    height: auto;
    padding: 0.625rem 1.25rem;
    border-style:none;
    border-radius:7px;
    color:white;
    background-color: #383F49;
}
.btn:hover{
    cursor:pointer;
}
.btn:focus, .btn:hover{
    transform:translatey(-5%);
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,.15);
}
.btn:active{
    transform:translatey(3%);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,.25);
}
.btn--viewinfo{
    background-color:rgba(169, 48, 111, 1);
}
section .container{
    padding-top:4.69rem;
}
.section-title--wrapper{
    margin-bottom:3.875rem;
}
.material-icons{
    color: #A9306F;
    font-size:1.2rem;
}


/*NAVIGATION*/
nav{
    background-color:rgba(56, 63, 73, 0.95);
    width:100%;
    height:4.375rem; /*70px/16px = 4.375rem*/
    position: relative;
    z-index:999;
    color:white;
}
.nav__sticky{
    position:fixed;
    top:0;
    left:0;
}
.nav{
    max-width:1366px;
    position:absolute;
    width:100%;
    height:auto;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:0 0.2rem;

}
.nav .logo{
    float:left;
}

.nav ul{
    float:right;
}
.nav ul li{
    display:inline-block;
    text-align:center;
    text-transform:uppercase;
}
.nav ul li:not(:last-child){
    margin-right: 2.5rem; /*40px/16px =2.5rem */
}

.nav-dropdown{
    position:relative;
}

ul.nav-dropdown--contents{
    position:absolute;
    width:100%;
    top:100%;
    left:50%;
    transform:translatex(-50%);
    display:none;
}

ul.nav-dropdown--contents li{
    display:block;
    background-color:rgba(200,200,200,0.95);
    text-transform:capitalize;
}
.left-nav{
    width:17%;
    border:solid orange 4px;
    max-width:14.5rem;
    z-index: 900;
    position:fixed;
    height: calc(100% - 4.375rem);
    top: 4.375rem;/*height of nav = 70px/16px = 4.375rem */
}

/*HEADER*/
header{
background-color:grey;
height: 91vh; /*viewport height = 768; header height = 631px+nav-height; 701/768 = 91.27vh*/
position:relative;
}
#homepage-header{
    height:auto;
    display:inline-block;
    position:relative;
    top:37%;
    left:14%;
}
#call-to-action{
    display:block;
    position:relative;
    margin-top:3rem;
    margin-left: 2rem;
}

/*TOP GAMES*/
#top-selling{
    background-color: white;
    height:40.19rem;
}
#top-selling .container{
    text-align:left;
}
#top-selling .section-title--wrapper{
    text-align:left;
}
#top-selling .dotted-underline{
    margin-left:1rem;
}
#more{
    float:right;
    margin-right:10.54%;
    margin-top: 3.5rem;
    text-align:right;
}
#more .dotted-underline{  
    width:95%;
    margin-left:1.25rem;
}
#more:hover h4, #more:focus h4{
    color: #0078FF;
}    

/*MEMBERSHIP*/
#membership{
    background-color:grey;
}
.card-membership--includes{
    text-align:left;
}

/*FAQ*/
#faq{
    height: 80vh;
}
#faq .section-box{
    background-color:white;
}
#faq-list{
    text-align:left;
}
#faq-list li:nth-of-type(2n){
    margin-bottom:1.5rem;
}
#faq-list li:last-of-type{
    margin-bottom:0rem;
}
.faq-i{
    font-weight:700;
    color:#A9306F;
    padding-right: 0.375rem;
}

/*GAMESTORE*/
#gamestore{
    padding-top: 4.375rem;
    position:relative;
}
.display{
    border:solid red 8px;
    position:absolute;
    width:83%; /*100% - left nav's width of 17%*/
    height:100%;
    top:0;
    right:0;
    background-color:white;
}
.display .container-box{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}
.display .row{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;
}
#gamestore .display .row{
    width:80%;
}
.container-box--img{
    position:relative;
}
.container-box--img img{
    width:9rem;
    height:9rem;
    padding-bottom:1.5rem;
}
.container-box--title{
    text-transform:uppercase;
}
.content-box--contents p{
    font-style:italic;
}
.rating--inactive{
    color: #777C86;
}


/*FOOTER*/
footer{
    background-color: #383F49;
    color:white;
}
footer .container{
    height:auto;
}